.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem 0;
  margin-bottom: 3rem;
}
.navbar-logo {
  width: 2.5rem;
  cursor: pointer;
}
.navbar-menu {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}
.menu-container {
  display: none;
  font-family: "Barlow Condensed";
  font-size: 0.7rem;
  gap: 1.85rem;
  padding: 0 2.3rem;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
}
.menu-container li {
  padding: 1.6rem 0;
  cursor: pointer;
}
.menu-container li.active {
  border-bottom: 2px solid var(--white);
}

.menu-container li span {
  font-weight: bold;
  display: none;
}

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}
.titles-container {
  text-align: center;
  margin: 0 1.5rem;
  margin-bottom: 5rem;
}
.titles-container h5 {
  margin: 0 0 1rem 0;
}
.titles-container h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.explore {
  width: 9.3rem;
  height: 9.3rem;
  background-color: var(--white);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  cursor: pointer;
}
.explore h1 {
  font-family: "Bellefair";
  font-weight: 100;
  font-size: 1.25rem;
  color: var(--black);
}
.explore::before {
  content: "";
  position: absolute;
  width: 13rem;
  height: 13rem;
  border-radius: 100%;
  background-color: #ffffff57;
  transform: scale(0.5);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.explore:hover::before {
  transform: scale(1);
  opacity: 1;
}

/* media  */
@media (min-width: 425px) {
  .titles-container {
    padding: 0 3rem;
  }
  .navbar-menu {
    display: none;
  }
  .navbar {
    margin-bottom: 5.3rem;
    padding: 0;
  }
  .menu-container {
    display: flex;
  }
  .navbar-logo {
    margin-left: 1rem;
    z-index: 30;
  }
}
@media (min-width: 1024px) {
  .home-container {
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
  }
  .explore {
    margin-right: 8.25rem;
  }
  .titles-container {
    flex-basis: 50%;

    text-align: start;
  }

  .menu-container li span {
    display: inline;
  }
  .menu-container {
    padding: 0 7rem;
  }
}
@media (min-width: 1350px) {
  .titles-container {
    padding: 0 8.25rem;
  }
}
