@import url(reset.css);
@import url(home.css);
@import url(destination.css);
@import url(crew.css);
@import url(technology.css);
@import url(mobile-menu.css);

@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-ExtraLight.ttf");
}
@font-face {
  font-family: "Barlow Condensed";
  src: url("fonts/BarlowCondensed-ExtraLight.ttf");
}
@font-face {
  font-family: "Bellefair";
  src: url("fonts/Bellefair-Regular.ttf");
}

:root {
  --black: #0b0d17;
  --blue: #d0d6f9;
  --white: #ffffff;
  font-family: "Barlow";
  font-size: 16px;
  color: var(--white);
  letter-spacing: 0.1rem;
}

h1,
h3,
h2 {
  font-family: "Bellefair";
  font-weight: 100;
  text-transform: uppercase;
}
h5 {
  font-family: "Barlow Condensed";
  font-weight: 100;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
}
p {
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 1.4rem;
}
.title {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.title span {
  font-weight: bold;
  opacity: 0.3;
}

.home-container {
  background-image: url("/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.destination-container {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.crew-container {
  background-image: url("/assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.technology-container {
  background-image: url("/assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.main-container {
  width: 100%;
}

@media (min-width: 425px) {
  :root {
    font-size: 18px;
  }
  .home-container {
    background-image: url("/assets/home/background-home-tablet.jpg");
  }
  .destination-container {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
  }
  .crew-container {
    background-image: url("/assets/crew/background-crew-tablet.jpg");
  }
  .technology-container {
    background-image: url("/assets/technology/background-technology-tablet.jpg");
  }
  .title {
    margin-top: 5rem;
  }
}
@media (min-width: 1024px) {
  :root {
    font-size: 20px;
  }
  .home-container {
    background-image: url("/assets/home/background-home-desktop.jpg");
  }
  .destination-container {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
  }
  .crew-container {
    background-image: url("/assets/crew/background-crew-desktop.jpg");
  }
  .technology-container {
    background-image: url("/assets/technology/background-technology-desktop.jpg");
  }
}
@media (min-width: 1551px) {
  :root {
    font-size: 26px;
  }
}
@media (min-width: 2400px) {
  :root {
    font-size: 32px;
  }
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #d0d6f9;
  border-radius: 7px;
}
